body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;  
    align-items: center;      
}

#pr {
    width: 100%;
    width: 400px;  
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);  
    border-radius: 8px;
}

.btn{
    width: 70%;
}

.divb{
    width: 100%;
    display: flex;
    justify-content: center;  
}

.user-information-container{
    margin-top: 50px;
}